@model List<ResourceAdminViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-sm">
    <thead>
        <tr class="text-white text-center" style="background-color : rgba(80, 45, 97,1)">
            <th class="nav-item">
                @if (ViewData["order"].Equals("dataType"))
                {
                    <a class="text-decoration-none text-white "
                       asp-action="Index"
                       asp-route-sortOrder="dataType_desc">
                        DataType ▲
                    </a>
                }
                else
                {
                    <a class="text-decoration-none text-white"
                       asp-action="Index"
                       asp-route-sortOrder="dataType">
                        DataType ▼
                    </a>
                }
            </th>
            <th class="nav-item">
                @if (ViewData["order"].Equals("label"))
                {
                    <a class="text-decoration-none text-white "
                       asp-action="Index"
                       asp-route-sortOrder="label_desc">
                        label ▲
                    </a>
                }
                else
                {
                    <a class="text-decoration-none text-white"
                       asp-action="Index"
                       asp-route-sortOrder="label">
                        label ▼
                    </a>
                }
            </th>
            <th>
                Picture
            </th>
            <th>
                Url
            </th>
            <th>
                Description
            </th>
            <th class="nav-item">
                @if (ViewData["order"].Equals("content"))
                {
                    <a class="text-decoration-none text-white "
                       asp-action="Index"
                       asp-route-sortOrder="content_desc">
                        content ▲
                    </a>
                }
                else
                {
                    <a class="text-decoration-none text-white"
                       asp-action="Index"
                       asp-route-sortOrder="content">
                        content ▼
                    </a>
                }
            </th>
            <th class="nav-item">
                @if (ViewData["order"].Equals("status"))
                {
                    <a class="text-decoration-none text-white "
                       asp-action="Index"
                       asp-route-sortOrder="status_desc">
                        status ▲
                    </a>
                }
                else
                {
                    <a class="text-decoration-none text-white"
                       asp-action="Index"
                       asp-route-sortOrder="status">
                        status ▼
                    </a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="">
                @Html.DisplayFor(modelItem => item.DataType)
            </td>
            <td class="short-text">
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td class="short-text">
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
                <td class="short-text">
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td class="short-text">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
